kind: ConfigMap
apiVersion: v1
metadata:
  name: ${resource_config_name}
data:
  b200-8: "${num_nodes}"
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: ${cluster_config_name}
data:
  capacity_type: "${capacity_type}"
  reservation_id: "${reservation}"
  provisioner: gcluster