# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

name: Build Tests

on:
  pull_request:
  merge_group:
    types: [checks_requested]

permissions:
  contents: read

jobs:
  install-dependencies:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    steps:
    - uses: actions/checkout@v4
    - uses: google-github-actions/setup-gcloud@v2
      with:
        version: '>= 363.0.0'
        install_components: 'beta, gke-gcloud-auth-plugin'
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Check if cache exists
      id: check-cache
      uses: actions/cache@v3
      with:
        path: |
          usr/local/bin/
          ~/.cache/pip
          ${{env.pythonLocation}}
        key: xpk-deps-${{ matrix.python-version }}-${{github.run_id}}-${{github.run_attempt}}
        lookup-only: true
    - name: install dependencies
      if : steps.check-cache.outputs.cache-hit != 'true'
      run: make install-dev && cp ./bin/kubectl-kueue /usr/local/bin/kubectl-kueue && cp ./bin/kubectl-kjob /usr/local/bin/kubectl-kjob
    - name: Cache dependencies
      if : steps.check-cache.outputs.cache-hit != 'true'
      uses: actions/cache/save@v3
      with:
        path: |
          /usr/local/bin/kubectl-kueue
          /usr/local/bin/kubectl-kjob
          ~/.cache/pip
          ${{env.pythonLocation}}
        key: xpk-deps-${{ matrix.python-version }}-${{github.run_id}}-${{github.run_attempt}}
  linter:
    needs: [install-dependencies]
    uses: ./.github/workflows/reusable_lint_and_format.yml
  verify-goldens:
    needs: [install-dependencies]
    uses: ./.github/workflows/reusable_goldens.yaml
  run-unit-tests:
    needs: [install-dependencies]
    uses: ./.github/workflows/reusable_unit_tests.yaml
