# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License

name: Nightly Tests

on:
  workflow_dispatch:
  schedule: # Schedule the job run at 12AM PST daily.
    - cron: '0 8 * * *'

permissions:
  contents: read

env:
  CLUSTER_NETWORK_ARGUMENTS: "--network=${{secrets.NETWORK_NAME}} --subnetwork=${{secrets.SUBNETWORK_NAME}}"
  CLUSTER_NETWORK_ARGUMENTS_DWS: "--network=${{secrets.NETWORK_NAME}} --subnetwork=${{secrets.SUBNETWORK_NAME_DWS}}"

jobs:
  build_kjob:
    uses: ./.github/workflows/reusable_build_kjob.yaml
  build_wheel:
    uses: ./.github/workflows/reusable_build_wheel.yaml
  build_actions:
    uses: ./.github/workflows/reusable_build_scripts.yaml
  basic_cluster_create:
    needs: [build_kjob, build_actions, build_wheel]
    uses: ./.github/workflows/integration_basic_cluster_create.yaml
    secrets: inherit
  pw-cluster-and-workload:
    runs-on: [ubuntu-22.04]
    needs: [build_wheel, build_actions, build_kjob]
    concurrency: # We support one build test to run at a time currently.
      group: nightly-pw-test-cluster-group
      cancel-in-progress: false
    env:
      TPU_CLUSTER_NAME: pw-nightly-test-2-v4-8-nodepools
      WORKLOAD_NAME: xpkpw-nightly-${{ github.run_attempt }}
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: custom-scripts
    - name: Setup environment
      uses: ./.github/actions/setup-test-env
      with:
        credentials_json: "${{ secrets.GCP_SA_KEY }}"
    - name: Check xpk installation
      run: xpk version
    - name: Create an Pathways-enabled XPK Cluster with 2 x v4-8 nodepools
      run: ./backoff_retry.sh -c 'xpk cluster create-pathways --cluster $TPU_CLUSTER_NAME --tpu-type=v4-8  --num-slices=2 --zone=us-central2-b --default-pool-cpu-machine-type=n1-standard-16 --default-pool-cpu-num-nodes=4 --reservation="${{ secrets.GCP_TPU_V4_RESERVATION }}" --custom-cluster-arguments="${CLUSTER_NETWORK_ARGUMENTS}"'
    - name: Create test script to execute in workloads
      run: echo -e '#!/bin/bash \n echo "Hello world from a test script!"' > workload.sh
    - name: Run a Pathways workload on Ubuntu base image
      run: xpk workload create-pathways --cluster $TPU_CLUSTER_NAME --workload $WORKLOAD_NAME --docker-image='marketplace.gcr.io/google/ubuntu2004' --tpu-type=v4-8 --num-slices=2 --zone=us-central2-b --command "echo \"Hello world from a test script! \""
    - name: Wait for Pathways workload completion and confirm it succeeded
      run: xpk workload list --cluster $TPU_CLUSTER_NAME --zone=us-central2-b --wait-for-job-completion $WORKLOAD_NAME --timeout 300
    - name: Delete the Pathways workload on the cluster
      run: xpk workload delete --workload $WORKLOAD_NAME --cluster $TPU_CLUSTER_NAME --zone=us-central2-b
    - name: Delete the Pathways cluster created
      if: always()
      run: xpk cluster delete --cluster $TPU_CLUSTER_NAME --zone=us-central2-b --force
    - name: Upload nodepool creation log
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: pw-nodepool-log-${{github.run_id}}
        path: /tmp/NodepoolCreate-$TPU_CLUSTER_NAME-np-*

  ray_cluster_create:
    needs: [build_kjob, build_actions, build_wheel]
    uses: ./.github/workflows/integration_ray_cluster_create.yaml
    secrets: inherit

  set-variables:
    runs-on: [ubuntu-22.04]
    concurrency:
      group: set-variables-${{ github.event.number}}
      cancel-in-progress: true
    outputs:
      cluster-name: ${{ steps.set-cluster-name.outputs.cluster-name }}
      cluster-name-dws: ${{ steps.set-cluster-name-dws.outputs.cluster-name-dws }}
      group-name: ${{ steps.set-group-name.outputs.group-name }}
      zone: ${{ steps.set-zone.outputs.zone }}
      tpu-type: ${{ steps.set-tpu-type.outputs.tpu-type }}
      tpu-type-topology: ${{ steps.set-tpu-type-topology.outputs.tpu-type-topology }}
      location: ${{steps.set-location.outputs.location}}
      run-id: ${{steps.set-run-id.outputs.run-id}}
    steps:
    - name: set run-id
      id: set-run-id
      run: |
        if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
          RUN_ID="dispatch"
        elif [ "${{ github.ref }}" == "refs/heads/main" ]; then
          RUN_ID="main"
        else
          RUN_ID="${{ github.event.number }}"
        fi
        echo run-id=$RUN_ID >> $GITHUB_OUTPUT
    - name: set cluster-name
      id: set-cluster-name
      run: |
        echo cluster-name=xpk-${{steps.set-run-id.outputs.run-id}} >> $GITHUB_OUTPUT
    - name: set cluster-name-dws
      id: set-cluster-name-dws
      run: |
        echo cluster-name-dws=xpk-dws-${{steps.set-run-id.outputs.run-id}} >> $GITHUB_OUTPUT
    - name: set group-name
      id: set-group-name
      run: |
        echo group-name=xpk-${{steps.set-run-id.outputs.run-id}} >> $GITHUB_OUTPUT
    - name: set zone
      id: set-zone
      run: |
        echo zone=us-central2-b >> $GITHUB_OUTPUT
    - name: set tpu-type
      id: set-tpu-type
      run: |
        echo tpu-type=v4-8 >> $GITHUB_OUTPUT
    - name: set tpu-type-topology
      id: set-tpu-type-topology
      run: |
        echo tpu-type-topology=v4-2x2x1 >> $GITHUB_OUTPUT
    - name: set location
      id: set-location
      run: |
        echo location=us-central2 >> $GITHUB_OUTPUT
  install-dependencies:
    needs: [set-variables]
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    steps:
    - uses: actions/checkout@v4
    - uses: google-github-actions/setup-gcloud@v2
      with:
        version: '>= 363.0.0'
        install_components: 'beta, gke-gcloud-auth-plugin'
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Check if cache exists
      id: check-cache
      uses: actions/cache@v3
      with:
        path: |
          usr/local/bin/
          ~/.cache/pip
          ${{env.pythonLocation}}
        key: xpk-deps-${{ matrix.python-version }}-${{github.run_id}}-${{github.run_attempt}}
        lookup-only: true
    - name: install dependencies
      if : steps.check-cache.outputs.cache-hit != 'true'
      run: make install-dev && cp ./bin/kubectl-kueue /usr/local/bin/kubectl-kueue && cp ./bin/kubectl-kjob /usr/local/bin/kubectl-kjob
    - name: Cache dependencies
      if : steps.check-cache.outputs.cache-hit != 'true'
      uses: actions/cache/save@v3
      with:
        path: |
          /usr/local/bin/kubectl-kueue
          /usr/local/bin/kubectl-kjob
          ~/.cache/pip
          ${{env.pythonLocation}}
        key: xpk-deps-${{ matrix.python-version }}-${{github.run_id}}-${{github.run_attempt}}
  run-integration-tests:
    needs: [install-dependencies, set-variables]
    uses: ./.github/workflows/reusable_integration_tests.yaml
    with:
      run-id: '${{needs.set-variables.outputs.run-id}}'
    concurrency: # We support one build or nightly test to run at a time currently.
      group: integration-tests-${{needs.set-variables.outputs.run-id}}
      cancel-in-progress: true
    secrets: inherit
  cluster-create:
    needs: [run-integration-tests, set-variables]
    concurrency: # We support one build or nightly test to run at a time currently.
      group: cluster-create-${{needs.set-variables.outputs.run-id}}
      cancel-in-progress: true
    uses: ./.github/workflows/reusable_cluster_create.yaml
    with:
      cluster-name-dws: '${{needs.set-variables.outputs.cluster-name-dws}}'
      cluster-name: '${{needs.set-variables.outputs.cluster-name}}'
      tpu-type: '${{needs.set-variables.outputs.tpu-type-topology || inputs.tpu-type}}'
      zone: '${{needs.set-variables.outputs.zone}}'
      location: '${{needs.set-variables.outputs.location}}'
      run-id: '${{needs.set-variables.outputs.run-id}}'
    secrets: inherit
  storage-tests:
    needs: [cluster-create, set-variables, build_kjob, build_actions, build_wheel]
    uses: ./.github/workflows/reusable_storage_tests.yaml
    concurrency: # We support one build or nightly test to run at a time currently.
      group: storage-tests-${{needs.set-variables.outputs.run-id}}
      cancel-in-progress: true
    with:
      cluster-name: ${{needs.set-variables.outputs.cluster-name}}
      tpu-type: ${{needs.set-variables.outputs.tpu-type}}
      zone: ${{needs.set-variables.outputs.zone}}
      run-id: ${{needs.set-variables.outputs.run-id}}
    secrets: inherit
  cluster-delete:
    if: always()
    needs: [set-variables, storage-tests]
    uses: ./.github/workflows/reusable_cluster_delete.yaml
    with:
      cluster-name-dws: ${{needs.set-variables.outputs.cluster-name-dws}}
      cluster-name: ${{needs.set-variables.outputs.cluster-name}}
      run-id: ${{needs.set-variables.outputs.run-id}}
      zone: ${{needs.set-variables.outputs.zone}}
    secrets: inherit
